In [1]:
#Project Goal: The greatest NBA Player of All Time
import pandas as pd

In [2]:
#championship difficulty 
#https://www.reddit.com/r/nba/comments/jj6vk1/playoff_success_of_the_mvp_and_runner_up_since/

In [3]:
#number of champions
#difficulty of championships
#MVPS
#FinalsMVPs
#DPOY
#Points per game
#Career plus minus

In [4]:
#Load the data
players = pd.read_csv("Seasons_Stats.csv")
players18 = pd.read_csv("17-18.csv")
players19 = pd.read_csv("18-19.csv")
players20 = pd.read_csv("19-20.csv")
players21 = pd.read_csv("20-21.csv")
players22 = pd.read_csv("21-22.csv")
players23 = pd.read_csv("22-23.csv")

In [5]:
playersAll = pd.concat([players, players18, players19, players20, players21, players22,players23], axis = 0)

In [6]:
playersAll.columns

Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Player-additional\'],
      dtype='object')

In [7]:
playersAll.drop('Unnamed: 0', axis =1, inplace=True)

In [8]:
#Create a list of the top 75 players (really 76 cuz idk why)
top_75 = ["Michael Jordan", "LeBron James", "Kareem Abdul-Jabbar", "Magic Johnson", "Wilt Chamberlain",
                "Bill Russell", "Larry Bird", "Tim Duncan", "Oscar Robertson", "Kobe Bryant", "Shaquille O'Neal",
                "Kevin Durant", "Hakeem Olajuwon", "Julius Erving", "Moses Malone", "Stephen Curry", "Dirk Nowitzki",
                "Giannis Antetokounmpo", "Jerry West", "Elgin Baylor", "Kevin Garnett", "Charles Barkley", "Karl Malone",
                "John Stockton", "David Robinson", "John Havlicek", "Isiah Thomas", "George Mikan", "Chris Paul",
                "Dwyane Wade", "Allen Iverson", "Scottie Pippen", "Kawhi Leonard", "Bob Cousy", "Bob Pettit",
                "Dominique Wilkins", "Steve Nash", "Rick Barry", "Kevin McHale", "Patrick Ewing", "Walt Frazier",
                "Gary Payton", "Jason Kidd", "Bill Walton", "Bob McAdoo", "Jerry Lucas", "Ray Allen", "Wes Unseld",
                "Nate Thurmond", "James Harden", "Reggie Miller", "George Gervin", "Clyde Drexler", "Pete Maravich",
                "Earl Monroe", "James Worthy", "Willis Reed", "Elvin Hayes", "Nate Archibald", "Sam Jones",
                "Dave Cowens", "Paul Pierce", "Robert Parish", "Hal Greer", "Lenny Wilkens", "Paul Arizin",
                "Dennis Rodman", "Russell Westbrook", "Carmelo Anthony", "Dolph Schayes", "Anthony Davis",
                "Billy Cunningham", "Dave DeBusschere", "Dave Bing", "Damian Lillard", "Bill Sharman"]

In [9]:
len(playersAll.groupby("Player")["PTS"])

4608

In [10]:
playersAll[playersAll['Player'].str.contains("Kobe Bryant", case=False, na=False)].mean()

/var/folders/y4/ty9_pcns397b4slfvgp240kw0000gn/T/ipykernel_37710/507647848.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  playersAll[playersAll['Player'].str.contains("Kobe Bryant", case=False, na=False)].mean()

Year                  2006.50000
Age                     27.50000
G                       67.30000
GS                      59.90000
MP                    2431.85000
PER                     21.55000
TS%                      0.54320
3PAr                     0.21785
FTr                      0.37820
ORB%                     3.43000
DRB%                    12.65000
TRB%                     8.05500
AST%                    24.17500
STL%                     2.05000
BLK%                     0.94500
TOV%                    12.82500
USG%                    31.33000
blanl                        NaN
OWS                      6.11500
DWS                      2.53000
WS                       8.63000
WS/48                    0.14490
blank2                       NaN
OBPM                     3.58000
DBPM                    -0.67500
BPM                      2.90500
VORP                     3.61500
FG                     585.95000
FGA                   1310.00000
FG%                      0.44140
3P                      91.35000
3PA                    277.30000
3P%                      0.31770
2P                     494.60000
2PA                   1032.70000
2P%                      0.47345
eFG%                     0.47620
FT                     418.90000
FTA                    500.55000
FT%                      0.83495
ORB                     74.95000
DRB                    277.40000
TRB                    352.35000
AST                    315.30000
STL                     97.20000
BLK                     32.00000
TOV                    200.50000
PF                     167.65000
PTS                   1682.15000
Player-additional\           NaN
dtype: float64

In [11]:
playersAll[playersAll['Player'].str.contains("Lebron", case=False, na=False)].sum()

/var/folders/y4/ty9_pcns397b4slfvgp240kw0000gn/T/ipykernel_37710/385359573.py:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  playersAll[playersAll['Player'].str.contains("Lebron", case=False, na=False)].sum()

Year                                                40270.0
Player    LeBron JamesLeBron JamesLeBron JamesLeBron Jam...
Pos                 SGSFSFSFSFSFSFSFSFPFPFSFSFSFPFSFPGPGCPF
Age                                                   570.0
Tm        CLECLECLECLECLECLECLEMIAMIAMIAMIACLECLECLECLEL...
G                                                    1421.0
GS                                                   1419.0
MP                                                  54093.0
PER                                                   387.8
TS%                                                   8.197
3PAr                                                  2.884
FTr                                                    5.87
ORB%                                                   52.5
DRB%                                                  252.0
TRB%                                                  153.9
AST%                                                  492.5
STL%                                                   31.3
BLK%                                                   21.8
TOV%                                                  181.1
USG%                                                  441.7
blanl                                                   0.0
OWS                                                   143.8
DWS                                                    61.6
WS                                                    205.6
WS/48                                                 3.368
blank2                                                  0.0
OBPM                                                  102.4
DBPM                                                   26.6
BPM                                                   128.6
VORP                                                  116.0
FG                                                  14152.0
FGA                                                 28044.0
FG%                                                  10.132
3P                                                   2261.0
3PA                                                  6563.0
3P%                                                   6.889
2P                                                  11891.0
2PA                                                 21481.0
2P%                                                  11.186
eFG%                                                  10.96
FT                                                   8087.0
FTA                                                 11000.0
FT%                                                  14.658
ORB                                                  1666.0
DRB                                                  9002.0
TRB                                                 10668.0
AST                                                 10420.0
STL                                                  2186.0
BLK                                                  1073.0
TOV                                                  4966.0
PF                                                   2604.0
PTS                                                 38652.0
dtype: object

In [12]:
players.rename(columns={'Unnamed: 0': 'name'}, inplace=True)

In [13]:
players.head()

,name,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [14]:
df_2015 = players[players['Year'] == 1990]
df_2015

,name,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
9547,9547,1990.0,Mark Acres,C,27.0,ORL,80.0,50.0,1691.0,8.3,...,0.692,154.0,277.0,431.0,67.0,36.0,25.0,70.0,248.0,362.0
9548,9548,1990.0,Michael Adams,PG,27.0,DEN,79.0,74.0,2690.0,15.4,...,0.850,49.0,176.0,225.0,495.0,121.0,3.0,141.0,133.0,1221.0
9549,9549,1990.0,Mark Aguirre,SF,30.0,DET,78.0,40.0,2005.0,15.8,...,0.756,117.0,188.0,305.0,145.0,34.0,19.0,121.0,201.0,1099.0
9550,9550,1990.0,Danny Ainge,PG,30.0,SAC,75.0,68.0,2727.0,16.1,...,0.831,69.0,257.0,326.0,453.0,113.0,18.0,185.0,238.0,1342.0
9551,9551,1990.0,Mark Alarie,PF,26.0,WSB,82.0,10.0,1893.0,14.1,...,0.812,151.0,223.0,374.0,142.0,60.0,39.0,101.0,219.0,860.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10001,10001,1990.0,Orlando Woolridge,SF,30.0,LAL,62.0,2.0,1421.0,17.6,...,0.733,49.0,136.0,185.0,96.0,39.0,46.0,73.0,160.0,788.0
10002,10002,1990.0,Haywoode Workman,PG,24.0,ATL,6.0,0.0,16.0,26.1,...,1.000,0.0,3.0,3.0,2.0,3.0,0.0,0.0,3.0,6.0
10003,10003,1990.0,James Worthy*,SF,28.0,LAL,80.0,80.0,2960.0,19.8,...,0.782,160.0,318.0,478.0,288.0,99.0,49.0,160.0,190.0,1685.0
10004,10004,1990.0,Danny Young,PG,27.0,POR,82.0,8.0,1393.0,11.5,...,0.813,29.0,93.0,122.0,231.0,82.0,4.0,80.0,84.0,383.0
10005,10005,1990.0,Michael Young,SF,29.0,LAC,45.0,2.0,459.0,16.0,...,0.711,36.0,50.0,86.0,24.0,25.0,3.0,15.0,47.0,219.0

In [15]:
list2 = [
    "Allen Iverson",
    "Anthony Davis",
    "Bill Barry",
    "Bill Russell",
    "Bill Sharman",
    "Bill Walton",
    "Billy Cunningham",
    "Bob Cousy",
    "Bob McAdoo",
    "Bob Pettit",
    "Carmelo Anthony",
    "Charles Barkley",
    "Chris Paul",
    "Clyde Drexler",
    "Damian Lillard",
    "Dave Bing",
    "Dave Cowens",
    "Dave DeBusschere",
    "David Robinson",
    "Dennis Rodman",
    "Dirk Nowitzki",
    "Dominique Wilkins",
    "Dolph Schayes",
    "Dwyane Wade",
    "Earl Monroe",
    "Elgin Baylor",
    "Elvin Hayes",
    "Gary Payton",
    "George Gervin",
    "George Mikan",
    "Giannis Antetokounmpo",
    "Hakeem Olajuwon",
    "Hal Greer",
    "Isiah Thomas",
    "James Harden",
    "James Worthy",
    "Jason Kidd",
    "Jerry Lucas",
    "Jerry West",
    "John Havlicek",
    "John Stockton",
    "Julius Erving",
    "Kareem Abdul-Jabbar",
    "Karl Malone",
    "Kevin Durant",
    "Kevin Garnett",
    "Kevin McHale",
    "Kobe Bryant",
    "Kawhi Leonard",
    "Lenny Wilkens",
    "Larry Bird",
    "Magic Johnson",
    "Michael Jordan",
    "Moses Malone",
    "Nate Archibald",
    "Nate Thurmond",
    "Oscar Robertson",
    "Patrick Ewing",
    "Paul Arizin",
    "Paul Pierce",
    "Pete Maravich",
    "Ray Allen",
    "Reggie Miller",
    "Rick Barry",
    "Robert Parish",
    "Russell Westbrook",
    "Sam Jones",
    "Scottie Pippen",
    "Shaquille O'Neal",
    "Stephen Curry",
    "Steve Nash",
    "Tim Duncan",
    "Walt Frazier",
    "Wes Unseld",
    "Willis Reed",
    "Wilt Chamberlain"
]

len(player_names)

NameError: name 'player_names' is not defined

In [ ]:
list1 = ["Allen Iverson*",
 "Anthony Davis",
 "Bill Russell*",
 "Bill Sharman*",
 "Bill Walton*",
 "Billy Cunningham*",
 "Bob Cousy*",
 "Bob McAdoo*",
 "Bob Pettit*",
 "Carmelo Anthony",
 "Charles Barkley*",
 "Chris Paul",
 "Clyde Drexler*",
 "Damian Lillard",
 "Dave Bing*",
 "Dave Cowens*",
 "Dave DeBusschere*",
 "David Robinson*",
 "Dennis Rodman*",
 "Dirk Nowitzki",
 "Dolph Schayes*",
 "Dominique Wilkins*",
 "Dwyane Wade",
 "Earl Monroe*",
 "Elgin Baylor*",
 "Elvin Hayes*",
 "Gary Payton",
 "Gary Payton*",
 "George Gervin*",
 "George Mikan*",
 "Giannis Antetokounmpo",
 "Hakeem Olajuwon*",
 "Hal Greer*",
 "Isiah Thomas*",
 "James Harden",
 "James Worthy*",
 "Jason Kidd",
 "Jerry Lucas*",
 "Jerry West*",
 "John Havlicek*",
 "John Stockton*",
 "Julius Erving*",
 "Kareem Abdul-Jabbar*",
 "Karl Malone*",
 "Kawhi Leonard",
 "Kevin Durant",
 "Kevin Garnett",
 "Kevin McHale*",
 "Kobe Bryant",
 "Larry Bird*",
 "LeBron James",
 "Lenny Wilkens*",
 "Magic Johnson*",
 "Michael Jordan*",
 "Moses Malone*",
 "Nate Thurmond*",
 "Oscar Robertson*",
 "Patrick Ewing",
 "Patrick Ewing*",
 "Paul Arizin*",
 "Paul Pierce",
 "Pete Maravich*",
 "Ray Allen",
 "Reggie Miller*",
 "Rick Barry*",
 "Robert Parish*",
 "Russell Westbrook",
 "Sam Jones*",
 "Scottie Pippen*",
 "Shaquille O'Neal*",
 "Stephen Curry",
 "Steve Nash",
 "Tim Duncan",
 "Walt Frazier*",
 "Wes Unseld*",
 "Willis Reed*",
 "Wilt Chamberlain*"]

len(test)

In [ ]:
difference_list2 = [x for x in list2 if x not in list1]
difference_list2

In [16]:
#Task List for tomorrow

In [17]:
#APM Ready

In [18]:
# download the final csv
# create the championship difficutly csv
# get the awards list csv
# get a csv of the top 76 nba list
# Choose 10 categories
# Finish the code

In [19]:
pd.read_csv("championshipdifficulty.csv")

    Year                   Team  Adjusted SRS
0   1995        Houston Rockets         14.68
1   2001     Los Angeles Lakers          7.19
2   1994        Houston Rockets          1.10
3   2011       Dallas Mavericks          0.79
4   2006             Miami Heat         -0.54
5   2010     Los Angeles Lakers         -2.20
6   2016    Cleveland Cavaliers         -3.42
7   2022  Golden State Warriors         -4.41
8   2019        Toronto Raptors         -4.97
9   2003      San Antonio Spurs         -6.00
10  1993          Chicago Bulls         -6.99
11  2002     Los Angeles Lakers         -7.83
12  2004        Detroit Pistons         -8.58
13  2012             Miami Heat         -9.19
14  2018  Golden State Warriors         -9.96
15  2021        Milwaukee Bucks        -10.29
16  1989        Detroit Pistons        -11.08
17  1990        Detroit Pistons        -11.82
18  1988     Los Angeles Lakers        -12.25
19  1998          Chicago Bulls        -12.65
20  2009     Los Angeles Lakers        -12.79
21  2014      San Antonio Spurs        -13.84
22  2000     Los Angeles Lakers        -14.85
23  2005      San Antonio Spurs        -16.15
24  1984         Boston Celtics        -16.89
25  1985     Los Angeles Lakers        -17.15
26  2020     Los Angeles Lakers        -17.66
27  2007      San Antonio Spurs        -18.04
28  1999      San Antonio Spurs        -18.85
29  2013             Miami Heat        -19.96
30  1997          Chicago Bulls        -21.98
31  1991          Chicago Bulls        -25.29
32  2008         Boston Celtics        -25.95
33  1986         Boston Celtics        -25.98
34  2015  Golden State Warriors        -27.39
35  1992          Chicago Bulls        -28.21
36  1987     Los Angeles Lakers        -30.31
37  1996          Chicago Bulls        -30.70
38  2017  Golden State Warriors        -31.63

In [20]:
players = pd.read_csv("Seasons_Stats.csv")

players18 = pd.read_csv("17-18.csv")
players19 = pd.read_csv("18-19.csv")
players20 = pd.read_csv("19-20.csv")
players21 = pd.read_csv("20-21.csv")
players22 = pd.read_csv("21-22.csv")
players23 = pd.read_csv("22-23.csv")